*{
    font-family: Arial, Helvetica, sans-serif;
}

.navigation{
    color: white;
    background-image: linear-gradient(to right, royalblue, midnightblue);
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-header{
    font-style: bold;
    margin: 5px;
}

.btn{
    width: 100%;
    background-color: royalblue;
    color: white;
    margin: 5px;
}

.search-form{
    width: 100%;
    margin: 5px;
}

.weather-img{
    background-color: peachpuff;
}

.weather-card{
    justify-content: center;
    background-color: darkblue;
    color: white;
    margin: 20px;
    padding: 20px;
}